@import 'app/functions';
.pr__wrapper, .pr__indicator{
  width: vh(120);
  height: vh(120);
}



.pr__indicator_indication, .pr__indicator_track  {
  cx: vh(50);
  cy: vh(50);
  r: vh(40);
  fill: transparent;
  stroke-width: vh(15);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.pr__indicator_track {
  stroke: $background;
}

.pr__indicator_indication_green {
  stroke: $green;
}

.pr__indicator_indication_violet{
  stroke: $violet
}

.pr__percent{
  font-size: vh(15);
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
