@import 'app/functions';

.ac__btn {
  width: vw(293);
  height: vh(25);
  border: solid vw(1) $violet;
  border-radius: vw(5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $background;

}

.ac__title{
  font-size: vh(14);
  color: #FFFFFF;
}


