@import 'app/functions';

.me__header{
  width: 100vw;
  height: vh(70);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 vw(20) 0 vw(20);
}

.me__logo{
  height: vh(40);
  width: auto;
}

.me__avatar{
  height: vh(40);
  width: vh(40);
  background-color: $background;
  border-radius: 50%;
  border: 2px solid $violet;
}
