@import 'app/functions';
.ct__container{
  width: 100vw;
  height: vh(100);
  border-radius: 0 0 vh(10) vh(10);
  padding: vh(10) vw(20) vh(10) vw(20);
}
.ct__green{
  background-color: #314E39;
}

.ct__violet{
  background-color: #3D3351;
}

.ct__title{
  font-weight: 800;
  font-size: vh(25);
  color: #FFFFFF;
}

.ct__text{
  display: flex;
  width: 100%;
  font-weight: 700;
  font-size: vh(18);
  color: #FFFFFF;
}
