@import 'app/functions';

.ac__text{
  font-size: vh(20);
  color: $textColor;
  font-weight: 400;
  line-height: 150%;
  background-color: $background; //убрать, когда у фона будет цвет
    span {
        color: $green;
    }
}




