@import 'app/functions';

.me__background {
  background-color: $background;
  background-image: url("../../../shared/assets/images/background.svg");
  background-position: 0 100% ;
  background-repeat: no-repeat ;
  background-size: vw(375) auto;
}

.hide {
  transform: translateX(-100%) ;
}

.me__container{
  height: vh(660);
  margin: 0 vw(20) 0 vw(20);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.me__profile{
  height: vh(145);
  width: 100%;
  background-color: #2E2E30;
  border-radius: vw(10);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: vh(15);
  &_container{
    margin: vh(20) vw(20);
    height: vh(80);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.me__registration{
  display: flex;
}

.me__text{
  font-size: vh(14);
  &_primary{
    font-size: vh(14);
    color: #FFFFFF;
  }
  &_secondary{
    font-size: vh(14);
    color: #C0C5C1;
  }
}

.me__binding{
  display: flex;
  gap: vh(15);
}

.me__icon{
  height: vh(15);
  width: auto;
}

.me__username{
  color: $violet;
  font-size: vh(20);
}

.me__achievements{
  display: flex;
  justify-content: center;
}

.me__results{
  height: vh(495);
  width: 100%;
  background-color: #2E2E30;
  border-radius: vw(10);
}

.me__title{
  color: #FFFFFF;
  font-size: vh(20);
}
