.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vw;
}

.section_container > .chapter_container:nth-child(2) > .progress {
  margin-top: 4vw;
}

.line_progress {
  width: 20vw;
  height: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section_container:nth-child(1) .line_progress:nth-child(odd) > .task_select {
  transform: translate(-10vw, 0);
}
.section_container:nth-child(1) .line_progress:nth-child(even) > .task_select {
  transform: translate(10vw, 0);
}
.task_select {
  z-index: 20;
}

.green_line_one {
  height: 6vw;
  width: 0px;
  border-left: 5px #55cc76 dashed;

  position: absolute;
  z-index: 1;
  top: 50%;
}

.line_progress:nth-child(odd) > .green_line_one {
  transform: translate(-10vw, 0);
}

.line_progress:nth-child(even) > .green_line_one {
  transform: translate(10vw, 0);
}

.green_line_two {
  height: 12vw;
  width: 20vw;
  position: absolute;
  border-bottom: 5px #55cc76 dashed;
}

.green_line_tree {
  height: 4vw;
  width: 0px;
  border-left: 5px #55cc76 dashed;

  position: absolute;
  z-index: 1;
  top: 100%;
}

.line_progress:nth-child(even) > .green_line_tree {
  transform: translate(calc(-10vw + 2.5px), 0);
}
.line_progress:nth-child(odd) > .green_line_tree {
  transform: translate(calc(10vw - 2.5px), 0);
}

.empty_line_one {
  height: 6vw;
  width: 0px;
  border-left: 5px #444444 dashed;
  position: absolute;
  z-index: 1;
  top: 50%;
}

.line_progress:nth-child(odd) > .empty_line_one {
  transform: translate(-10vw, 0);
}

.line_progress:nth-child(even) > .empty_line_one {
  transform: translate(10vw, 0);
}

.empty_line_two {
  height: 12vw;
  width: 20vw;
  position: absolute;
  border-bottom: 5px #444444 dashed;
}

.empty_line_tree {
  height: 4vw;
  width: 0px;
  border-left: 5px #444444 dashed;

  position: absolute;
  z-index: 1;
  top: 100%;
}

.line_progress:nth-child(even) > .empty_line_tree {
  transform: translate(calc(-10vw + 2.5px), 0);
}
.line_progress:nth-child(odd) > .empty_line_tree {
  transform: translate(calc(10vw - 2.5px), 0);
}

.violet_line_one {
  height: 6vw;
  width: 0px;
  border-left: 5px #a681f2 dashed;
  position: absolute;
  z-index: 1;
  top: 50%;
}

.line_progress:nth-child(1) > .violet_line_one {
  height: 12vw;
  top: 0;
  width:20vw;
  border-top: 5px #a681f2 dashed;
}
.line_progress:nth-child(1) > .violet_line_one {
  transform: translate(0, 0);
  
}
.line_progress:nth-child(1) > .violet_line_one::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 4vw;
  border-right: 5px dashed #a681f2; 
  transform: translateY(-100%); 
}
.chapter_container:nth-child(2) .line_progress:nth-child(1) > .empty_line_one::before {
  content: "";
  position: absolute;
  top: 0; 
  left: -2.5px;
  width: 100%;
  height: 4vw;
  border-right: 5px dashed #444444; 
  transform: translateY(-150%); 
}

.chapter_container:nth-child(2) .line_progress:nth-child(1) > .empty_line_two {
 border-top: 5px #444444 dashed;
}
.chapter_container:nth-child(2) .line_progress:nth-child(1) > .empty_line_two::before {
  content: "";
  position: absolute;
  top: 0; 
  left: -2.5px;
  width: 100%;
  height: 4vw;
  border-right: 5px dashed #444444; 
  transform: translateY(-100%); 
}


.line_progress:nth-child(odd):not(1) > .violet_line_one {
  transform: translate(-10vw, 0);
}

.line_progress:nth-child(even) > .violet_line_one {
  transform: translate(10vw, 0);
}
.violet_line_two {
  height: 12vw;
  width: 20vw;
  position: absolute;
  border-bottom: 5px #a681f2 dashed;
}

.violet_line_tree {
  height: 4vw;
  width: 0px;
  border-left: 5px #a681f2 dashed;

  position: absolute;
  z-index: 1;
  top: 100%;
}

.line_progress:nth-child(even) > .violet_line_tree {
  transform: translate(calc(-10vw + 2.5px), 0);
}
.line_progress:nth-child(odd) > .violet_line_tree {
  transform: translate(calc(10vw - 2.5px), 0);
}
