@import 'app/functions';

.me__background {
    background-color: $background;

}

.me__slider {
    background-color: $background;
    position: fixed;
    width: 100%;
    top: vh(70);
    transition: 0.3s;
    z-index: 8;
}

.hide {
    transition: 0.3s;
    transform: translateY(-150%) ;
}

.me__navigation{
    padding-top: vh(70);
}
