
html{
  color-scheme: light dark;
  --background: #252628;
  --green: #59F881;
  --darkGreen: #314E39;
  --violet: #AF7CFA;
  --white: #fff;
  --disabled: #444444;
}
body {
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
}
